.cms-button {
    height: 40px;
    @apply pt-[2.6px] px-4 transition;
    @apply border rounded-md;
    @apply text-center text-[12px] tracking-normal;
}
.cms-button.button-icon {
    @apply !px-0 !pt-[1px] transition text-[20px];
}

/* -------- Variant Button - Default ------------ */
.button-default {
    border-color: var(--gray-v4);
    color: var(--gray-v6);
}
.button-default:hover {
    background-color: var(--blue-v1);
    border-color: var(--blue-v4);
    color: var(--blue-v5);
}
.button-default:active {
    background-color: var(--blue-v2);
    border-color: var(--blue-v4);
    color: var(--blue-v5);
}
.button-default[disabled],
.button-default[disabled]:active,
button.button-primary:disabled {
    background-color: var(--gray-v1);
    border-color: unset;
    color: var(--white);
}

/* -------- Variant Button - Default Pagination------------ */
.button-default-pagination {
    border-color: var(--gray-v4);
    color: var(--gray-v6);
}
.button-default-pagination:hover {
    background-color: var(--blue-v1);
    border-color: var(--blue-v4);
    color: var(--blue-v5);
}
.button-default-pagination:active {
    background-color: var(--blue-v2);
    border-color: var(--blue-v4);
    color: var(--blue-v5);
}
.button-default-pagination[disabled],
.button-default-pagination[disabled]:active,
button.button-primary:disabled {
    background-color: var(--white);
    border-color: var(--gray-v3);
    color: var(--gray-v3);
}

/* -------- Variant Button - Default ------------ */

/*  Primary */
.button-primary {
    border-color: var(--blue-v5);
    background-color: var(--blue-v5);
    color: var(--white);
}
.button-primary:hover {
    background-color: var(--blue-v3);
    border-color: var(--blue-v3);
    color: var(--white);
}
.button-primary:active {
    border-color: var(--blue-v6);
    background-color: var(--blue-v6);
    color: var(--white);
}
.button-primary[disabled],
button.button-primary:disabled {
    border-color: var(--blue-v2);
    background-color: var(--blue-v2);
    color: var(--white);
}

/* Primay Outline */
.button-primary-inverse {
    border-color: var(--blue-v5);
    background-color: var(--white);
    color: var(--blue-v5);
}
.button-primary-inverse:hover {
    background-color: var(--blue-v1);
    border-color: var(--blue-v5);
    color: var(--blue-v5);
}
.button-primary-inverse:active {
    background-color: var(--blue-v2);
    border-color: var(--blue-v5);
    color: var(--blue-v5);
}
.button-primary-inverse[disabled],
.button-primary-inverse:disabled {
    border-color: var(--blue-v2);
    color: var(--blue-v2);
    background-color: var(--white);
}

/* Primay v2 */
.button-primary-v2 {
    border-color: var(--blue-v4);
    background-color: var(--blue-v4);
    color: var(--white);
}
.button-primary-v2:hover {
    border-color: var(--blue-v1);
    background-color: var(--blue-v1);
    color: var(--blue-v4);
}
.button-primary-v2:active {
    border-color: var(--blue-v4);
    background-color: var(--blue-v2);
    color: var(--blue-v4);
}
.button-primary-v2[disabled],
button.button-primary-v2:disabled {
    border-color: var(--blue-v2);
    background-color: var(--blue-v2);
    color: var(--white);
}

/* Primay v2 Inverse */
.button-primary-v2-inverse {
    border-color: var(--white);
    background-color: var(--blue-v2);
    color: var(--blue-v4);
}
.button-primary-v2-inverse:hover {
    border-color: var(--white);
    background-color: var(--blue-v4);
    color: var(--blue-v2);
}
.button-primary-v2-inverse[disabled],
.button-primary-v2-inverse:disabled {
    border-color: var(--blue-v2);
    color: var(--blue-v3);
    background-color: var(--blue-v2);
}

/* Red */
.button-red {
    border-color: var(--red-v3);
    background-color: var(--red-v3);
    color: var(--white);
}
.button-red:hover {
    border-color: var(--red-v2);
    background-color: var(--red-v2);
    color: var(--white);
}
.button-red:active {
    border-color: var(--red-v4);
    background-color: var(--red-v4);
    color: var(--white);
}
.button-red[disabled],
.button-red:disabled {
    border-color: var(--red-v1);
    background-color: var(--red-v1);
    color: var(--white);
}

/* Red Inverse */
.button-red-inverse {
    border-color: var(--red-v3);
    color: var(--red-v3);
    background-color: var(--white);
}
.button-red-inverse:hover {
    border-color: var(--red-v3);
    background-color: var(--red-v1);
    color: var(--red-v3);
}
.button-red-inverse:active {
    border-color: var(--red-v3);
    background-color: var(--red-v2);
    color: var(--red-v3);
}
.button-red-inverse[disabled],
.button-red-inverse:disabled {
    border-color: var(--red-v1);
    background-color: var(--white);
    color: var(--red-v1);
}

/* yellow */
.button-yellow {
    border-color: var(--yellow-v3);
    background-color: var(--yellow-v3);
    color: var(--white);
}
.button-yellow:hover {
    border-color: var(--yellow-v2);
    background-color: var(--yellow-v2);
    color: var(--white);
}
.button-yellow:active {
    border-color: var(--yellow-v4);
    background-color: var(--yellow-v4);
    color: var(--white);
}
.button-yellow[disabled],
.button-yellow:disabled {
    border-color: var(--yellow-v1);
    background-color: var(--yellow-v1);
    color: var(--white);
}

/* yellow Inverse */
.button-yellow-inverse {
    border-color: var(--yellow-v3);
    color: var(--yellow-v3);
    background-color: var(--white);
}
.button-yellow-inverse:hover {
    border-color: var(--yellow-v3);
    background-color: var(--yellow-v1);
    color: var(--yellow-v3);
}
.button-yellow-inverse:active {
    border-color: var(--yellow-v3);
    background-color: var(--yellow-v2);
    color: var(--yellow-v3);
}
.button-yellow-inverse[disabled],
.button-yellow-inverse:disabled {
    border-color: var(--yellow-v1);
    background-color: var(--white);
    color: var(--yellow-v1);
}

/* green */
.button-green {
    border-color: var(--green-v3);
    background-color: var(--green-v3);
    color: var(--white);
}
.button-green:hover {
    border-color: var(--green-v2);
    background-color: var(--green-v2);
    color: var(--white);
}
.button-green:active {
    border-color: var(--green-v4);
    background-color: var(--green-v4);
    color: var(--white);
}
.button-green[disabled],
.button-green:disabled {
    border-color: var(--green-v1);
    background-color: var(--green-v1);
    color: var(--white);
}

/* green Inverse */
.button-green-inverse {
    border-color: var(--green-v3);
    color: var(--green-v3);
    background-color: var(--white);
}
.button-green-inverse:hover {
    border-color: var(--green-v3);
    background-color: var(--green-v1);
    color: var(--green-v3);
}
.button-green-inverse:active {
    border-color: var(--green-v3);
    background-color: var(--green-v2);
    color: var(--green-v3);
}
.button-green-inverse[disabled],
.button-green-inverse:disabled {
    border-color: var(--green-v1);
    background-color: var(--white);
    color: var(--green-v1);
}
