.cms-button {
    height: 35px;
    @apply pt-[2.6px] px-4 transition;
    @apply border rounded-md;
    @apply text-center text-[12px] tracking-normal;
}

.cms-button.button-icon {
    @apply !px-0 !pt-[1px] transition text-[20px];
}

/* -------- Variant Button - Default ------------ */
.button-default {
    border-color: var(--gray-v4);
    color: var(--gray-v6);
    background-color: var(--white) !important;
}

.button-default:hover {
    background-color: var(--info-v1) !important;
    border-color: var(--info-v4);
    color: var(--info-v5);
}

.button-default:active {
    background-color: var(--info-v2) !important;
    border-color: var(--info-v4);
    color: var(--info-v5);
}

.button-default[disabled],
.button-default[disabled]:active,
button.button-info:disabled {
    background-color: var(--gray-v1) !important;
    border-color: unset;
    color: var(--white);
}

/* -------- Variant Button - Default Pagination------------ */
.button-default-pagination {
    border-color: var(--gray-v4);
    color: var(--gray-v6);
}

.button-default-pagination:hover {
    background-color: var(--info-v1) !important;
    border-color: var(--info-v4);
    color: var(--info-v5);
}

.button-default-pagination:active {
    background-color: var(--info-v2) !important;
    border-color: var(--info-v4);
    color: var(--info-v5);
}

.button-default-pagination[disabled],
.button-default-pagination[disabled]:active,
button.button-info:disabled {
    background-color: var(--white) !important;
    border-color: var(--gray-v3);
    color: var(--gray-v3);
}

/* -------- Variant Button - Default ------------ */

/*  info */
.button-info {
    border-color: var(--info-v5);
    background-color: var(--info-v5) !important;
    color: var(--white);
}

.button-info:hover {
    background-color: var(--info-v3) !important;
    border-color: var(--info-v3);
    color: var(--white);
}

.button-info:active {
    border-color: var(--info-v6);
    background-color: var(--info-v6) !important;
    color: var(--white);
}

.button-info[disabled],
button.button-info:disabled {
    border-color: var(--info-v2);
    background-color: var(--info-v2) !important;
    color: var(--white);
}

/* Primay Outline */
.button-info-inverse {
    border-color: var(--info-v5);
    background-color: var(--white) !important;
    color: var(--info-v5);
}

.button-info-inverse:hover {
    background-color: var(--info-v1);
    border-color: var(--info-v5) !important;
    color: var(--info-v5);
}

.button-info-inverse:active {
    background-color: var(--info-v2);
    border-color: var(--info-v5) !important;
    color: var(--info-v5);
}

.button-info-inverse[disabled],
.button-info-inverse:disabled {
    border-color: var(--info-v2);
    color: var(--info-v2);
    background-color: var(--white) !important;
}

/* danger */
.button-danger {
    border-color: var(--danger-v4);
    background-color: var(--danger-v4) !important;
    color: var(--white);
}

.button-danger:hover {
    border-color: var(--danger-v2);
    background-color: var(--danger-v2) !important;
    color: var(--white);
}

.button-danger:active {
    border-color: var(--danger-v4);
    background-color: var(--danger-v4) !important;
    color: var(--white);
}

.button-danger[disabled],
.button-danger:disabled {
    border-color: var(--danger-v1);
    background-color: var(--danger-v1) !important;
    color: var(--white);
}

/* danger Inverse */
.button-danger-inverse {
    border-color: var(--danger-v3);
    color: var(--danger-v3);
    background-color: var(--white) !important;
}

.button-danger-inverse:hover {
    border-color: var(--danger-v3);
    background-color: var(--danger-v1) !important;
    color: var(--danger-v3);
}

.button-danger-inverse:active {
    border-color: var(--danger-v3);
    background-color: var(--danger-v2) !important;
    color: var(--danger-v3);
}

.button-danger-inverse[disabled],
.button-danger-inverse:disabled {
    border-color: var(--danger-v1);
    background-color: var(--white) !important;
    color: var(--danger-v1);
}

/* warning */
.button-warning {
    border-color: var(--warning-v3);
    background-color: var(--warning-v3) !important;
    color: var(--white);
}

.button-warning:hover {
    border-color: var(--warning-v2);
    background-color: var(--warning-v2) !important;
    color: var(--white);
}

.button-warning:active {
    border-color: var(--warning-v4);
    background-color: var(--warning-v4) !important;
    color: var(--white);
}

.button-warning[disabled],
.button-warning:disabled {
    border-color: var(--warning-v1);
    background-color: var(--warning-v1) !important;
    color: var(--white);
}

/* warning Inverse */
.button-warning-inverse {
    border-color: var(--warning-v3);
    color: var(--warning-v3);
    background-color: var(--white) !important;
}

.button-warning-inverse:hover {
    border-color: var(--warning-v3);
    background-color: var(--warning-v1) !important;
    color: var(--warning-v3);
}

.button-warning-inverse:active {
    border-color: var(--warning-v3);
    background-color: var(--warning-v2) !important;
    color: var(--warning-v3);
}

.button-warning-inverse[disabled],
.button-warning-inverse:disabled {
    border-color: var(--warning-v1);
    background-color: var(--white) !important;
    color: var(--warning-v1);
}

/* success */
.button-success {
    border-color: var(--success-v3);
    background-color: var(--success-v3) !important;
    color: var(--white);
}

.button-success:hover {
    border-color: var(--success-v2);
    background-color: var(--success-v2) !important;
    color: var(--white);
}

.button-success:active {
    border-color: var(--success-v4);
    background-color: var(--success-v4) !important;
    color: var(--white);
}

.button-success[disabled],
.button-success:disabled {
    border-color: var(--success-v1);
    background-color: var(--success-v1) !important;
    color: var(--white);
}

/* success Inverse */
.button-success-inverse {
    border-color: var(--success-v3);
    color: var(--success-v3);
    background-color: var(--white) !important;
}

.button-success-inverse:hover {
    border-color: var(--success-v3);
    background-color: var(--success-v1) !important;
    color: var(--success-v3);
}

.button-success-inverse:active {
    border-color: var(--success-v3);
    background-color: var(--success-v2) !important;
    color: var(--success-v3);
}

.button-success-inverse[disabled],
.button-success-inverse:disabled {
    border-color: var(--success-v1);
    background-color: var(--white) !important;
    color: var(--success-v1);
}