.inputParent-style textarea {
    @apply border rounded-md text-[12px];
    @apply focus:!ring-transparent;
    @apply !w-full;
    border-color: var(--gray-v3);
    min-height: 40px;
    padding: 6px;
    resize: vertical;
}

.inputParent-style textarea:focus {
    border-color: var(--brand-v5);
}

.inputParent-style textarea::placeholder {
    color: var(--gray-v4);
}

textarea {
    color: var(--gray-v7) !important;
}
