.button {
    background-color: var(--white);
    @apply absolute inset-y-0 right-0 text-xl rounded-[4px] w-[40px] justify-items-center;
}

.icon {
    color: var(--blue-v5);
    @apply align-middle justify-center mx-auto;
}

.button-IFB {
    border-color: var(--gray-v3);
    background-color: var(--white);
    @apply mr-[1px] absolute inset-y-0 right-0 border-l text-xl w-[40px] h-[28px] my-[6px] justify-items-center;
}

.icon-IFB {
    color: var(--blue-v5);
    @apply align-middle justify-center mx-auto;
}
