@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* ------ Basic Loglines Colors ------ */
    /* ------ Basic Main Gray ------ */
    --gray-v1: #f5f6f7;
    --gray-v2: #f0f1f3;
    --gray-v3: #d9dde1;
    --gray-v4: #c0c7cd;
    --gray-v5: #8d99a5;
    --gray-v6: #5b6c7c;
    --gray-v7: #465a6c;
    --gray-v8: #283f54;
    --gray-v9: #20384e;

    /* ------ Basic Main Status ------ */
    --blue-v1: #f0fafe;
    --blue-v2: #cceffc;
    --blue-v3: #99dffa;
    --blue-v4: #66d0f7;
    --blue-v5: #00b0f2;
    --blue-v6: #008dc2;
    --blue-v7: #006a91;
    --red-v1: #fcdae2;
    --red-v2: #f691a9;
    --red-v3: #f04770;
    --red-v4: #902b43;
    --yellow-v1: #fff6e1;
    --yellow-v2: #ffe3a4;
    --yellow-v3: #ffd167;
    --yellow-v4: #b28f3e;
    --green-v1: #cdf7ec;
    --green-v2: #6fdfc1;
    --green-v3: #10d3a0;
    --green-v4: #048160;
    --white: #ffffff;
    --black: #222222;
}

body {
    background-color: var(--blue-v1);
    color: var(--black);
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 0px !important;
    height: 8px !important;
    margin-bottom: 50px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--gray-v2);
    border-radius: 14px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-v3);
    border-radius: 15px !important;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--gray-v2);
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: var(--gray-v3);
    border-radius: 15px !important;
    cursor: pointer;
}

.scrollable-content::-webkit-scrollbar * {
    background: transparent;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: transparent;
}

/* dropdown */